<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./nav-bar.css">
    <link rel="stylesheet" href="/fontawesome-free-5.12.1-web/css/all.css" >
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <img src="/image/logo.svg" alt=""Logo>
        </div>
        <div>
            <ul class="menu">
                <li><a href="#">Khám Phá</a></li>
                <li><a href="#">Bài Hát</a></li>
                <li><a href="#">Playlist</a></li>
                <li><a href="#">Tuyển Tập</a></li>
                <li><a href="#">Video</a></li>
                <li><a href="#">BXH</a></li>
                <li><a href="#">Top 100</a></li>
                <li><a href="#" class="fas fa-ellipsis-h"></a></li>
            </ul>
        </div>
            
        <div >
            <ul class="account">
                <li><a href="#" class="far fa-user"></a></li>
                <li><a href="#" class="fas fa-crown" id="vip"></a></li>
                <li><a href="#" class="fas fa-headphones" id="headphone"></a></a></li>
                <li><a href="#" class="fas fa-cloud-upload-alt" id="cloud"></a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Tìm bài hát, video, playlist, ca sĩ">
            <button type="submit" value="Search"><i class="fa fa-search"></i></button>
        </div>
    </nav>
</body>
</html>