<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/main-poster/main-poster.css">
</head>
<body>
    <div class="poster">
        <img src="/image/main-poster.png" alt="MainPoster">
    </div>
    <div class="child">
        <img src="/image/child-1.png" alt="Child-1">
        <img src="/image/child-2.png" alt="Child-2">
        <img src="/image/child-3.png" alt="Child-3">
        <img src="/image/child-4.png" alt="Child-4">
        <img src="/image/child-5.png" alt="Child-5">
    </div>
</body>
</html>