body {
    margin: 0;
}

.poster {
    width: 835px;
    height: 337px;
}

.child {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #3f3f3f;
    width: 835px;
    height: 74px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

